/* 改变主题色变量 */
$--color-primary: #002FA7;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
// sidebar
$menuText:#8A94A6;
$menuHoverText:#fff;
$menuActiveText:#fff;
$subMenuActiveText:$--color-primary; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuActiveBg:$--color-primary;
$menuHover:#6682CA;

$subMenuBg:#fff;
$subMenuHover:#6682CA;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  menuActiveBg:$menuActiveBg
}
